{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}

{% block extra_css %}

{% endblock %}


{% block content %}
<div class="article-list pb-70">
    <div class="container-box">
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="locales-list">
                    <div class="row mb-40">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h2>Locales</h2>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="more-link more2-link text-md-right">
                                            <a href="/lista-noticias/locales/">Ver más <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for noticia in noticias_locales %}
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-60">
                            <div class="postbox mb-30">
                                <div class="postbox-thumb">
                                    {% if noticia.imagen_portada %}
                                    {% thumbnail noticia.imagen_portada "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% elif noticia.url %}
                                    {% video noticia.url as video %}
                                    {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% endvideo %}
                                    {% elif noticia.imagen_alterna %}
                                    {% thumbnail noticia.imagen_alterna "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% else %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="https://via.placeholder.com/670x490" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endif %}
                                </div>
                                <div class="post-fea-cat">
                                    <a href="#">{{noticia.categoria}} </a>
                                </div>
                                <div class="postbox-text post-text-last">
                                    <div class="post-wr-cat">
                                        <a href="#">{{noticia.subcategoria}}</a>
                                    </div>
                                    <div class="post-wr-meta mt-15"><span class="base_color"><a href="#">{{noticia.fecha|date:"l d F Y"}}</a></span></div>
                                    <h5 class="f-18 mt-0"><a class="text-limit-3" href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}">{{noticia.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="nacionales-list">
                    <div class="row mb-40">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h2>Nacionales</h2>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="more-link more2-link text-md-right">
                                            <a href="/lista-noticias/nacionales/">Ver más <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for noticia in noticias_nacionales %}
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-60">
                            <div class="postbox mb-30">
                                <div class="postbox-thumb">
                                    {% if noticia.imagen_portada %}
                                    {% thumbnail noticia.imagen_portada "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% elif noticia.url %}
                                    {% video noticia.url as video %}
                                    {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% endvideo %}
                                    {% elif noticia.imagen_alterna %}
                                    {% thumbnail noticia.imagen_alterna "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% else %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="https://via.placeholder.com/670x490" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endif %}
                                </div>
                                <div class="post-fea-cat">
                                    <a href="#">{{noticia.categoria}} </a>
                                </div>
                                <div class="postbox-text post-text-last">
                                    <div class="post-wr-cat">
                                        <a href="#">{{noticia.subcategoria}}</a>
                                    </div>
                                    <div class="post-wr-meta mt-15"><span class="base_color"><a href="#">{{noticia.fecha|date:"l d F Y"}}</a></span></div>
                                    <h5 class="f-18 mt-0"><a class="text-limit-3" href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}">{{noticia.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="internacionales-list">
                    <div class="row mb-40">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h2>Internacionales</h2>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="more-link more2-link text-md-right">
                                            <a href="/lista-noticias/internacionales/">Ver más <i class="far fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for noticia in noticias_internacionales %}
                        <div class="col-xl-6 col-lg-6 col-md-6 mb-60">
                            <div class="postbox mb-30">
                                <div class="postbox-thumb">
                                    {% if noticia.imagen_portada %}
                                    {% thumbnail noticia.imagen_portada "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% elif noticia.url %}
                                    {% video noticia.url as video %}
                                    {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% endvideo %}
                                    {% elif noticia.imagen_alterna %}
                                    {% thumbnail noticia.imagen_alterna "670x490" crop="center" as img %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endthumbnail %}
                                    {% else %}
                                    <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="https://via.placeholder.com/670x490" alt="{{noticia.titulo}}" width="100%"></a>
                                    {% endif %}
                                </div>
                                <div class="post-fea-cat">
                                    <a href="#">{{noticia.categoria}} </a>
                                </div>
                                <div class="postbox-text post-text-last">
                                    <div class="post-wr-cat">
                                        <a href="#">{{noticia.subcategoria}}</a>
                                    </div>
                                    <div class="post-wr-meta mt-15"><span class="base_color"><a href="#">{{noticia.fecha|date:"l d F Y"}}</a></span></div>
                                    <h5 class="f-18 mt-0"><a class="text-limit-3" href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}">{{noticia.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 mb-30">
                {% include "sidebar.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock %}