{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% load el_pagination_tags %}

{% block extra_css %}
{% endblock %}
{% block content %}
<div class="article-list pb-70">
    <div class="container-box">
        <div class="row">
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="noticias-list">
                    <div class="row mb-40">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>Noticias {{tipo}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% paginate 4 object_list %}
                        {% for noticia in object_list %}
                        
                        <div class="postbox mb-40 col-12">
                            <div class="postbox-thumb">
                                {% if noticia.imagen_portada %}
                                {% thumbnail noticia.imagen_portada "670x490" crop="center" as img %}
                                <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                {% endthumbnail %}
                                {% elif noticia.url %}
                                {% video noticia.url as video %}
                                {% thumbnail video.thumbnail "670x490" crop="center" as img %}
                                <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                {% endthumbnail %}
                                {% endvideo %}
                                {% elif noticia.imagen_alterna %}
                                {% thumbnail noticia.imagen_alterna "670x490" crop="center" as img %}
                                <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="/media/{{img}}" alt="{{noticia.titulo}}" width="100%"></a>
                                {% endthumbnail %}
                                {% else %}
                                <a href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}"><img src="https://via.placeholder.com/670x490" alt="{{noticia.titulo}}" width="100%"></a>
                                {% endif %}
                            </div>
                            <div class="post-fea-cat">
                                <a href="#">{{noticia.categoria}} </a>
                            </div>
                            <div class="postbox-text post-text-last">
                                <div class="post-wr-meta">
                                    <span><a href="#">{{noticia.fecha|date:"l d F Y"}} Hora:{{ noticia.fecha|time:"P" }}</a></span>
                                </div>
                                <h3><a class="text-limit-3" href="{% url 'noticia-detalle' noticia.subcategoria.slug noticia.slug%}">{{noticia.titulo}}</a></h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="col-xl-3 col-lg-3 mb-30">
                {% include "sidebar.html" %}
            </div>
        </div>
        <!-- Paginado -->
        <div class="row">
            <div class="col-xl-12">
                <div class="pagination-box">
                    <ul class="pagination-list">
                      {% show_pages %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}