/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */

$azul = #002171
$black_base = #252525
$grey = #f5f5ff
$gris = #909BA2;


/* -------------------------------------------------------------------------- */
/*                                    Mixin                                   */
/* -------------------------------------------------------------------------- */
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

animation()
  vendor('animation', arguments)

border-radius()
  vendor('border-radius', arguments)

border-top-radius() 
  vendor('border-top-left-radius', arguments)
  vendor('border-top-right-radius', arguments)

border-top-radius() 
  vendor('border-bottom-left-radius', arguments)
  vendor('border-bottom-right-radius', arguments)

// linear-gradient(start_color, end_color, start = left top, end = left bottom)
//   mozstart = top if start = left top
//   background start_color
//   background -moz-linear-gradient(mozstart, start_color 0%, end_color 100%)
//   background -webkit-gradient(linear, start, end, color-stop(0%, start_color), color-stop(100%, end_color))
//   -webkit-background-origin padding-box

background-clip()
  vendor('background-clip', arguments)

box-shadow() 
  -moz-box-shadow arguments
  -webkit-box-shadow arguments
  box-shadow arguments

box(orient, pack, align) 
  display -webkit-box
  display -moz-box
  display box
  vendor('box-orient', orient)
  vendor('box-pack', pack)
  vendor('box-align', align)
  vendor('box-lines', multiple)

box_flex()
  vendor('box-flex', arguments)

text-fill-color()
  vendor('text-fill-color', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

/* -------------------------------------------------------------------------- */
/*                                    Menu                                    */
/* -------------------------------------------------------------------------- */

.main-menu nav > ul > li > a
    padding: 19px 0

/* -------------------------------------------------------------------------- */
/*                                   Titulos                                  */
/* -------------------------------------------------------------------------- */


.title-web
    h3
        font-weight 900
    h4
        font-weight 600
    .logo img
        height: 135px

.text-limit-3
    overflow: hidden
    text-overflow: ellipsis
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient vertical

.hero-text{
    padding: 12px 12px 0 12px;
}

.hero-text h2{
    font-size: 28px;
}

.base_color
    color $azul

.f-14
    font-size: 14px
/* -------------------------------------------------------------------------- */
/*                                   Social                                   */
/* -------------------------------------------------------------------------- */


.top-social a{
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
    border: 1px solid transparent
}
.top-social a:hover.icon-facebook{
    background-color: #3b5998;
    border-color: transparent;
    
}
.top-social a:hover.icon-twitter{
    background-color: #1da1f2;
    border-color: transparent;
}
.top-social a:hover.icon-youtube{
    background-color: #ff0000;
    border-color: transparent;
}
.top-social a:hover.icon-instagram{
    background-color: #833ab4;
    border-color: transparent;
}
.top-social a:hover.icon-whatsapp{
    background-color: #075e54;
    border-color: transparent;
}
.top-social a:hover.icon-rss{
    background-color: #ee802f;
    border-color: transparent;
}

.top-social a{
    background: transparent;
    border: 1px solid #002171;
    color : #002171;
}

/* -------------------------------------------------------------------------- */
/*                                Programacion                                */
/* -------------------------------------------------------------------------- */

.sonando .live{
    padding: 10px 0 0 0;
}
.sonando .live span{
    font-weight: bold;
    color: #002171;

}
.sonando .live span:first-child{
    color:red;  
}
.sonando hr::after{
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    z-index: 3;
    background: transparent url(../img/section-border.svg) repeat-x 0 50%;
    background-size: 5px 5px;
    opacity: .7;
    
}
.sonando hr{
    border: 0;
    margin: 10px 0;
}


.most-readable-bg .section-title{
    padding-bottom: 10px;
}
.most-readable-bg .section-title h4{
    color: white;
    font-size: 20px;
}

.most-readable-bg{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fondo/fondo.jpg) no-repeat;
    
}

/* -------------------------------------------------------------------------- */
/*                                  Noticias                                  */
/* -------------------------------------------------------------------------- */

p{
    font-size: 16px;
    line-height: 25px;
}
.postbox-text{
    padding-left: 10px;
    padding-right: 10px;
}
.label-nota a{
    font-size: 14px;
    color: #0d47a1;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.post-wr-cat{
    position: relative;
    top:0;
    left: 0;
    
}
.postbox-text  .post-wr-cat{
    padding-top: 10px;
}
.article-list
.list-nota
.tready-news-area
.hero-postbox
.producciones-list
    .post-wr-meta
        margin-top: 10px
        span a
            color: #002171;

.list-nota .post-wr-meta .fa-circle{
    font-size: 5px;
    position: relative;
    padding: 0 4px;
    top: -2px;
    color: #002171;
}
.post-wr-cat a {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: initial;
    letter-spacing: 2px;
    background: #349042;
    font-family: 'Roboto', serif;
    padding: 5px 20px;
    border-radius: 30px;
    display: inline-block;
    font-weight: bold;
}
.post-fea-cat a
    text-transform: capitalize;

.postbox-text p, .hero-text p{
    text-align: justify;
}

.post-sm-img > a img{
    width: 120px;
    height: auto;
}

.video-news-area .post-content h4{
    margin-top: 0;
}
.font-11{
    font-size: 11px;
}
.color-theme{
    color: #002171;
}
.container-radio{

    --plyr-color-main: #002171;
    --plyr-control-icon-size: 16px;
    --plyr-audio-controls-background: transparent;
    --plyr-audio-control-color: #002171;
    --plyr-font-size-time: small;
}
.most-readable-area .section-title.no-border{
    border: 0;
}
.readable-active .owl-nav {
    top: 50px 
}


.foto-detalle{
    background-color: #eaeaff;
    color: #252525;
}
.post-content figure img{
    width: 100%;
}
.post-content figure figcaption{
    padding: 10px;
    background-color: #eaeaff;
    font-size:14px;
}

/* .post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6{
    color: #002171;
    font-size: 18px;
    margin-bottom: 20px;
} */
.enterteinment-sm-img img{
    width: 100px;
    height: auto;
}

.owl-importante .owl-nav div {
	color: #f44336;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: -70px;
	transition: all 0.3s ease 0s;
}
.owl-importante .owl-nav div.owl-prev::before {
	background: #f44336;
	height: 20px;
	width: 2px;
	right: -10px;
	position: absolute;
	content: "";
}
.owl-importante .owl-nav div.owl-prev {
	right: 32px;
}
.owl-importante .owl-nav {
	margin-right: 17px;
	position: absolute;
	top: 0;
	right: 0;
}
.seccion-importante .section-title h2{
    color: #f44336;
}
.seccion-importante .section-title::before{
    background: #f44336;
}
.seccion-importante .post-content h5 a{
    color: #f44336;

}
.seccion-importante .post-content h4 a:hover{
    color: #f44336;

}
.owl-importante .post-content h4{
    margin-bottom: 0;
    color: #252525;
}
.newsletter-2-form button{
    padding: 20px 53px;
}


.news-relacionada .owl-nav div {
	color: #002171;
	font-size: 14px;
	position: absolute;
	right: 0;
	top: -80px;
	transition: all 0.3s ease 0s;
}
.news-relacionada .owl-nav div.owl-prev::before {
	background: #002171;
	height: 20px;
	width: 2px;
	right: -10px;
	position: absolute;
	content: "";
}
.news-relacionada .owl-nav div.owl-prev {
	right: 32px;
}
.news-relacionada .owl-nav {
	margin-right: 17px;
	position: absolute;
	top: 0;
	right: 0;
}
.user-text a{
    margin-bottom: 20px;
    text-transform: initial;
}

.most-readable-bg .fondo{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fondo/fondo.jpg) no-repeat;
}


// .most-readable-bg.verde .section-title::before{
//     background: #007412;
// }
// .most-readable-bg.verde .white-title{
//     border-bottom: 2px solid #0f4c18;
// }
// .most-readable-bg.verde  .most-readable-text{
//     border-bottom: 2px solid #0f4c18;
// }


/* -------------------------------------------------------------------------- */
/*                             Lista de articulos                             */
/* -------------------------------------------------------------------------- */
.noticias-list
    .post-wr-meta span > a
        color: $azul
    .postbox h3
        font-size: 30px

/* -------------------------------------------------------------------------- */
/*                                   Buqueda                                  */
/* -------------------------------------------------------------------------- */
.header-search i
    height: 40px;
    width: 40px;
    background: #f0f0f0;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    line-height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #252525;

/* -------------------------------------------------------------------------- */
/*                                 Paginacion                                 */
/* -------------------------------------------------------------------------- */
.pagination-list
    a
    .endless_page_current
        height: 40px;
        width: 40px;
        color: #6a6a6a;
        font-size: 14px;
        font-weight: 500;
        border-radius: 50%;
        line-height: 40px;
        margin: 0 5px;
        display: inline-block;
        text-align: center;
        background: #f5f5ff;
    .endless_page_current
        background: #0d47a1;
        color: #ffffff;

/* -------------------------------------------------------------------------- */
/*                                  Scrollup                                  */
/* -------------------------------------------------------------------------- */
#scrollUp
    bottom 50px

/* -------------------------------------------------------------------------- */
/*                                Programacion                                */
/* -------------------------------------------------------------------------- */
.producciones
    .nav-pills
        font-size 1.05em
        font-weight 700
        letter-spacing 2px
        .nav-link.active
        .show>.nav-link
            background: $azul
            border-color:  $azul
            
    .nav-pills 
    .nav-link 
        border-radius 0rem !important
        border 1px solid #eee
        a
            color #6a6a6a

    .list-group-item.active
        border: 2px dashed $azul
        background: white
        color #212529
    .list-programacion
        .p-encabezado
            font-weight: 700
            color: $azul
            .p-hora
                display inline-block
                width 200px
            .p-titulo
                display inline-block
        .p-descripcion
            padding-left 203px

/* -------------------------------------------------------------------------- */
/*                                  Contactos                                 */
/* -------------------------------------------------------------------------- */


.contact-area
    #contact-form input.btn
        width: auto
    .portfolio-caption
        padding: 30px

/* -------------------------------------------------------------------------- */
/*                                   Galeria                                  */
/* -------------------------------------------------------------------------- */
.galeria-detalle
    .portfolio-caption
        padding: 20px
        h5
            color $azul
        &:hover
            h5
                color: white

/* -------------------------------------------------------------------------- */
/*                                   En Vivo                                  */
/* -------------------------------------------------------------------------- */
.live_stream
    position fixed
    bottom 100px
    right 20px
    z-index 100
    width 300px
    .live_titulo
        background: #EFEFEF
        padding: 5px 0px
    iframe 
        width 100%
        height 170px
    .live_menu
        li
            display inline-block
    .xbutton
        padding: 10px;
        &:hover
            cursor pointer

/* -------------------------------------------------------------------------- */
/*                              Noticias Detalle                              */
/* -------------------------------------------------------------------------- */
.post-content
    padding: 15px;
    ul
        margin-bottom 20px
        li
            font-family 'Roboto', sans-serif !important
            font-size: 1em       
    .blockquote
        margin: 30px 0 30px 0
        padding: 30px 80px 35px 100px
        font-size: 1.15rem
        &:before
            left: 35px;
    img
        height auto !important
        max-width: 100%

    p
        font-family 'Roboto', sans-serif !important
        font-size: 1em !important
        margin-bottom 20px
        span
            font-family 'Roboto', sans-serif !important
            font-size 1em !important
    
/* -------------------------------------------------------------------------- */
/*                                Share Social                                */
/* -------------------------------------------------------------------------- */
.social-share
    border-radius 3px
    box-shadow 0 1px 0 #e9e9e9 inset
    background $grey
    border-color $azul #e7e7e7 #e4e4e4
    border-radius 3px
    border-style solid
    border-width 1px
    box-shadow 0 1px 0 #e9e9e9 inset
    float left
    list-style none
    position relative
    text-align center
    margin 10px
    .main_icon
        background: $azul
        padding: 5px
        color: white
        font-size: 15px
    li:last-child
        margin-bottom: 10px


.si-sticky{
    position: fixed;
    top: 35%;
    left: 0px;
    z-index: 100;
    transition: 0.5s;
}
.slideleft{
    left: -1000px;
    animation: slide 0.5s forwards;
    animation-delay: 2s;
}


.social-share li:first-child {
  margin-top: 0
}
.social-share li {
  margin-top: 10px
  padding: 0px 5px
}

.social-share li a {
  display: block;
  background: $black_base;
  color: #efefef;
  border-radius: 25px;
  text-decoration: none;
  line-height: 30px;
  width: 30px;
  font-size: 15px;
}

.social-share a.tw:hover {
  background: #1da1f2
}

.social-share a.fb:hover {
  background: #3b5998
}
.social-share a.wt:hover {
  background: #075e54
}

.social-share a.gp:hover {
  background: #dd4b39
}

/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */
@media (max-width: 768px)
    .si-sticky
        width: 100% 
        bottom: 0 !important
        top: auto
        .social-share
            margin: 0
            width: 100%
            padding: 0px
            li
                display: inline-block !important
                padding 0px 10px
            .main_icon
                display none !important
    .blockquote
        padding: 30px 30px 35px 30px !important
    .title-web
        margin-top: 10px
        .logo img
            height 100px
        h3
            font-size: 20px
        h4
            font-size: 16px
    .mean-container a.meanmenu-reveal
        margin-top: -41px
