/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {

.container-box {
	max-width: 1200px;
}
.header2 .menu-bar {
	margin-right: 20px;
}
.main-menu nav > ul > li {
	margin-left: 20px;
}
.social-number {
	padding: 10px 15px;
}
.footer-wrapper{
	padding-left: 0;
	padding-right: 0;
}
.about-wrapper {
	margin-top: 0;
	margin-right: 0;
}
.feature-wrapper {
	margin-right: 0;
}
.testimonial-1-img {
	margin-left: 0;
	margin-right: 0;
}
.inner-testimonial {
	padding: 0 39px 0 40px;
}
.body-bg {
	padding: 0 50px;
}
.enterteinment-padding .post-wr-content {
	margin-left: 0;
	margin-right: 0;
}
.pos-wr-title {
	font-size: 15px;
}

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
.container-box {
	max-width: 1000px;
}
.body-bg {
	padding: 0 30px;
}
.post-content h4 {
	font-size: 13px;
}
.postbox-text h5 {
	font-size: 13px;
}
.post-sm-img {
	margin-right: 17px;
}
.postbox-text {
	padding-left: 20px;
	padding-right: 20px;
}
.post-border {
	padding-bottom: 24px;
	margin-bottom: 21px;
}
.hero-text > h2 {
	font-size: 34px;
}
.hero-text {
	margin-left: 28px;
	margin-right: 28px;
}
.newsletters-wrapper {
	padding: 0;
}
.footer-wrapper {
	padding-right: 0;
	padding-left: 0;
}
.post-text-last {
	padding-left: 20px;
	padding-right: 20px;
}
.breaking-active .owl-nav div {
	display: none;
}
.breaking {
	padding-left: 165px;
}
.breaking-bg {
	padding: 28px 20px;
}
.follow-us {
	float: none;
}
.testimonial-wrapper::before {
	font-size: 190px;
}
.post-sm-list-2 .post-sm-img {
	margin-right: 20px;
}
.footer-meta > span {
	font-size: 14px;
}
.f-post-thumb {
	margin-right: 15px;
}
.newsletters-2-wrapper {
	padding: 32px 20px 40px 20px;
}
.newsletter-2-form button {
	padding: 20px 60px;
}
.main-menu nav > ul > li {
	margin-left: 30px;
}
.area-title h4 {
	font-size: 15px;
}
.footer-2-text p {
	padding: 0;
}
.copyright-3 {
	margin: 0;
}
.portfolio-caption {
	padding: 30px 45px 35px 30px;
}
.portfolio-caption h3 {
	font-size: 24px;
}
.about-wrapper {
	margin-top: 0;
	margin-right: 0;
}
.feature-wrapper {
	margin-right: 0;
	padding: 40px 60px 56px 40px;
}
.testimonial-1-img {
	margin-left: 0;
	margin-right: 0;
}
.inner-testimonial {
	padding: 0;
}
.about-text h2 {
	font-size: 30px;
	margin-bottom: 23px;
}
.about-text a.btn {
	margin-top: 23px;
}
.contact-address-text p {
	font-size: 13px;
}
.post-wr-content {
	padding-right: 0;
	margin-top: 0;
}.featured-post-content {
	padding: 50px 30px 50px 30px;
}
.featured-post-content h3 {
	font-size: 16px;
}
.hero-2-sidebar .post-sm-img {
	margin-right: 20px;
}
.entertainment-wrapper .pos-wr-title {
	font-size: 16px;
}
.post-b-meta {
	margin-top: 15px;
}
.post-wr-meta {
	margin-top: 15px;
	margin-bottom: 8px;
}
.newsletters-4 .newsletter-2-form button {
	padding: 17px 25px;
}
.enterteinment-padding .post-wr-content {
	margin-left: 0;
	margin-right: 0;
}
.blog-list-padding.blog-post-padding.enterteinment-padding .post-wr-content {
	margin-right: 0;
}




}


/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
	.container-box {
	max-width: 750px;
}
.newsletters-wrapper {
	padding: 0;
}
.heder-area {
	padding-bottom: 11px;
}
.post-content h4 {
	font-size: 14px;
}
.post-text-last {
	padding-left: 20px;
	padding-right: 20px;
}
.most-readable-bg {
	padding-left: 30px;
	padding-right: 30px;
}
.postbox-text h5 {
	font-size: 15px;
}
.hero-text {
	margin-left: 15px;
	margin-right: 15px;
	padding: 29px 10px 0 10px;
}
.hero-text > h2 {
	font-size: 25px;
}
.entertainment-active .owl-nav div {
	top: 22%;
}
.header-area {
	padding-bottom: 12px;
}
.breaking-active .owl-nav div {
	display: none;
}
.breaking {
	padding-left: 165px;
}
.breaking-bg {
	padding: 28px 20px;
}

.slider-active button.slick-arrow {
	left: 20px;
}
.slider-active button.slick-next {
	left: auto;
	right: 20px;
}
.slider-active:hover button.slick-next {
	right: 20px;
}
.slider-active:hover button.slick-prev {
	left: 20px;
}
.breaking-active .owl-nav div {
	display: none;
}
.add-1-area {
	margin-top: -56px;
	margin-bottom: -100px;
}
.footer-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.footer-2-text p {
	padding: 0 15px;
}
.copyright-3 {
	margin: 0;
}
.box-inner {
	padding: 0 40px 45px 40px;
}
.page-title-area {
	margin-top: 30px;
}
.page-title-area {
	margin-top: 30px;
}
.portfolio-caption {
	padding: 37px 35px 35px 35px;
}
.about-wrapper {
	margin-top: 0;
	margin-right: 0;
}
.feature-wrapper {
	margin-right: 0;
}
.testimonial-1-img {
	margin-left: 0;
	margin-right: 0;
}
.inner-testimonial {
	padding: 0;
}
.section-2-title p {
	padding-left: 0;
	padding-right: 0;
}
.section-1-title h1 {
	font-size: 40px;
}
.post-wr-content {
	padding-right: 0;
	margin-top: 0;
}
.header-dater {
	margin-right: 30px;
}
.header-11 {
	padding-top: 0;
	margin-top: 0;
}
.header-middle {
	padding-bottom: 0;
}
.enterteinment-padding .post-wr-content {
	margin-left: 0;
	margin-right: 0;
}
.blog-list-padding.blog-post-padding.enterteinment-padding .post-wr-content {
	margin-right: 0;
}
.home-3 .mean-container a.meanmenu-reveal {
	margin-top: -38px;
}








}


/* small mobile :320px. */
@media (max-width: 767px) {

.container-box {
	max-width: 100%;
}
.newsletters-wrapper {
	padding: 0 15px;
}
.hero-text {
	margin-left: 15px;
	margin-right: 15px;
	padding: 29px 10px 0 10px;
}
.hero-text > h2 {
	font-size: 24px;
}
.header-area {
	padding-bottom: 12px;
	padding-top: 25px;
}
.post-text-last {
	padding-left: 15px;
	padding-right: 15px;
}
.post-content h4 {
	font-size: 14px;
}
.readable-active .owl-nav div {
	display: none;
}
.section-title h2 {
	font-size: 24px;
}
.most-readable-bg {
	padding-left: 30px;
	padding-right: 30px;
}
.gallery-active .owl-nav div {
	display: none;
}
.video-play a {
	height: 80px;
	width: 80px;
	line-height: 80px;
}
.entertainment-active .owl-nav div {
	display: none;
}
.newsletters-text p {
	padding: 0;
}
.newsletters-text h1 {
	font-size: 30px;
}
.newsletter-form {
	padding: 0;
}
.breaking-active .owl-nav div {
	display: none;
}
.add-1-area {
	display: none;
}
.ns-2-area{}
.ns-2-area {
	padding-top: 80px;
}
.breaking {
	padding-left: 0;
}
.breaking-title {
	position: static;
	margin-bottom: 15px;
}
.breaking-bg {
	padding: 28px 15px;
}
.slider-content h1 {
	font-size: 30px;
}
.slider-height {
	min-height: 600px;
}
.area-title {
	padding: 22px 15px;
}
.post-padding {
	padding: 40px 20px 30px 20px;
}
.area-title h4 {
	font-size: 15px;
}
.ns-video-bg {
	padding: 40px 20px 10px 20px;
}
.pos-wr-title.f-18 {
	font-size: 15px;
}
.what-news-bg {
	padding: 40px 15px 10px 15px;
}
.post-sm-list-2 .post-sm-img {
	margin-right: 15px;
}
.follow-us {
	float: none;
}
.add1 {
	display: none;
}
.footer-wrapper {
	padding-left: 0;
	padding-right: 0;
}
.footer-2-text p {
	padding: 0;
}
.copyright-3 {
	margin: 0;
}
.page-title-area {
	margin-top: 30px;
}
.portfolio-menu > button {
	padding: 14px 27px;
	font-size: 12px;
	margin-bottom: 10px;
}
.portfolio-caption {
	padding: 37px 30px 35px 31px;
}
.portfolio-caption h3 {
	font-size: 22px;
}
.about-wrapper {
	margin-top: 0;
	margin-right: 0;
}
.feature-wrapper {
	margin-right: 0;
	padding: 20px
}
.testimonial-1-img {
	margin-left: 0;
	margin-right: 0;
}
.inner-testimonial {
	padding: 0;
}
.about-text h2 {
	font-size: 30px;;
	margin-bottom: 22px;
}
.feature-text h1 {
	font-size: 36px;
}
.section-1-title h1 {
	font-size: 35px;
}
.section-2-title p {
	padding-left: 0;
	padding-right: 0;
}
#contact-form .btn {
	padding: 22px 60px;
}
.box-inner {
	padding: 0 15px 45px 15px;
}
.header-middle {
	padding: 20px 15px;
	padding-bottom: 0;
}
.header-top-area {
	padding: 8px 15px;
}
.header-social-icon {
	float: none;
	text-align: center;
}
.header-top {
	text-align: center;
}
.header-dater {
	margin-right: 10px;
}
.header-11 {
	padding-top: 0;
	margin-top: 0;
}
.slider-meta span {
	font-size: 15px;
	margin-right: 10px;
}
.slider-1-height {
	min-height: 470px;
}
.featured-post-content {
	display: none;
}
.post-3-padding {
	padding: 30px 0 0 0;
}
.post-4-padding {
	padding: 0;
}
.hero-2-sidebar .post-sm-img {
	margin-right: 15px;
}
.page-title h1 {
	font-size: 24px;
}
.blog-post-padding {
	padding-top: 0;
}
.enterteinment-padding .post-wr-content {
	margin-left: 0;
	margin-right: 0;
}
.post-wr-content {
	margin-top: 0;
}
.blog-list-padding.blog-post-padding .pos-wr-title {
	font-size: 18px;
}
.blog-list-padding.blog-post-padding.enterteinment-padding .post-wr-content {
	margin-right: 0;
	padding: 0;
}
.blog-post-padding.enterteinment-padding .post-wr-content {
	padding: 0;
	margin: 0;
}
.blog-details-paddiing .pos-wr-title {
	font-size: 25px;
}
.blockquote {
	padding: 30px 20px 35px 20px;
}
.blockquote::before{display:none;}
.user-text {
	float: none;
	margin-top: 0;
	margin-bottom: 10px;
}
.user-text a {
	font-size: 12px;
	margin-right: 5px;
	padding: 13px 17px;
}
.user-share {
	display: inline-block;
	float: none;
}
.author-img {
	float: none;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 20px;
}
.author {
	padding: 57px 15px 58px 15px;
}
.latest-comments .comments-avatar img {
	margin-right: 0;
}
.comments-avatar {
	float: none;
	margin-bottom: 10px;
}
.latest-comments li.children {
	margin-left: 10px;
}
.home-3 .mean-container a.meanmenu-reveal {
	margin-top: -38px;
}


}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container-box {
	max-width: 550px;
}
.follow-us {
	float: right;
}

}
