{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="contact-area pb-75">
    <div class="container-box">
        <div class="row mb-40">
            <div class="col-xl-12">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Staff de la radio</h2>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="row">
            {% if prensa %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-0">Prensa</h4>
                        <hr class="mb-10 mt-10">
                    </div>
                </div>
                <div id="" class="row">
                    {% for obj in prensa %}
                    <div class="col-lg-6 col-md-6 col-md-6 grid-item cat2 cat4 cat1">
                        <div class="portfolio-wrapper mb-60">
                            <div class="portfolio-caption">
                                <h5><a>{{obj.nombre}}</a></h5>
                                <span>{{obj.cargo}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if admon %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-0">Administración</h4>
                        <hr class="mb-10 mt-10">
                    </div>
                </div>
                <div id="" class="row">
                    {% for obj in admon %}
                    <div class="col-lg-6 col-md-6 col-md-6 grid-item cat2 cat4 cat1">
                        <div class="portfolio-wrapper mb-60">
                            <div class="portfolio-caption">
                                <h5><a>{{obj.nombre}}</a></h5>
                                <span>{{obj.cargo}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
            {% endif %}

            {% if produccion %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-0">Producción</h4>
                        <hr class="mb-10 mt-10">
                    </div>
                </div>
                <div id="" class="row">
                    {% for obj in produccion %}
                    <div class="col-lg-6 col-md-6 col-md-6 grid-item cat2 cat4 cat1">
                        <div class="portfolio-wrapper mb-60">
                            <div class="portfolio-caption">
                                <h5><a>{{obj.nombre}}</a></h5>
                                <span>{{obj.cargo}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            {% if locucion %}
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mb-0">Locucion</h4>
                        <hr class="mb-10 mt-10">
                    </div>
                </div>
                <div id="" class="row">
                    {% for obj in locucion %}
                    <div class="col-lg-6 col-md-6 col-md-6 grid-item cat2 cat4 cat1">
                        <div class="portfolio-wrapper mb-60">
                            <div class="portfolio-caption">
                                <h5><a>{{obj.nombre}}</a></h5>
                                <span>{{obj.cargo}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- contact-area-satrt -->
<div class="contact-area pb-75">
    <div class="container-box">
        
        <div class="row mb-40">
            <div class="col-xl-12">
                <div class="section-title">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Escríbenos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 mb-30">
                <div class="contact-adddress-wrapper">
                    <ul class="contact-list-address">
                        <li>
                            <div class="contact-address-text">
                                <h3>Dirección</h3>
                                <p>Del Mercado Municipal 2 cuadras al Este, Camoapa, Nicaragua</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-text">
                                <h3>Correo</h3>
                                <p><a href="mailto:direccion@radiocamoapa.com">direccion@radiocamoapa.com</a></p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-address-text">
                                <h3>Teléfonos</h3>
                                <p> (+505) 2549 2327 / (+505) 2549-2474 / (+505) 8420-9070</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-9 col-lg-9 mb-30">
                <div class="row">
                    <div class="col-xl-12">
                        <form id="contact-form" action="." method="POST">{% csrf_token %}
                            <div class="row">
                                <div class="col-xl-4 col-md-4">
                                    {{form.name}}
                                </div>
                                <div class="col-xl-8 col-md-8">
                                    {{form.email}}
                                </div>
                                <div class="col-xl-12">
                                    {{form.message}}
                                    <!-- <textarea name="message" cols="30" rows="10" placeholder="Write here: "></textarea> -->
                                    
                                    <input class="btn " type="submit" value="Enviar">
                                </div>
                            </div>
                            <p class="ajax-response"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4634.321396707377!2d-85.51251541777128!3d12.383986515304695!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73735b550953a1%3A0x1463bedacfb9840c!2sRadio+Camoapa+Est%C3%A9reo!5e0!3m2!1ses-419!2sni!4v1475529312290" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</div>
<!-- contact-area-satrt -->
{% endblock %}
{% block extra_js %}
<script>
    $("#id_name").attr("placeholder", "Nombre:");
    $("#id_email").attr("placeholder", "Correo:");
    $("#id_message").attr("placeholder", "Escriba aquí");
</script>

{% endblock extra_js %}
