{% extends "base.html" %}
{% load thumbnail %}

{% block extra_css %}
<style media="screen">
    .single-post-box > .post-content p a {
        color: #74b430 !important;
    }
</style>
{% endblock %}
{% block content %}
    <div class="enterteinment-area pb-70">
        <div class="container-box">
            <div class="row">
                
                <div class="col-xl-9 col-lg-9 mb-30">
                    <div class="row mb-20">
                        <div class="col-xl-12">
                            <div class="section-title">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2>{{flatpage.title}}</h2>
                                    </div>
                        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details-wrapper">
                        <div class="post-padding  post2-padding post-3-padding blog-details-paddiing">
                            <div class="inner-post-wrapper">
                                <div class="post-wrapper">
                                    <div class="post-content">
                                        {{flatpage.content|safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 mb-30">
                    {% include "sidebar.html" %}
                </div>
            </div>

        </div>
    </div>
   
    <div class="si-sticky slideleft">
        <ul class="social-share">
            <li class="main_icon">
                <i class="fas fa-share-square"></i>
            </li>
            <li>
                <a href="https://twitter.com/share?url=https://radiocamoapa.com{{request.path}}&amp;text={{object.titulo}}" target="_blank" class="tw">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/sharer.php?u=https://radiocamoapa.com{{request.path}}" target="_blank" class="fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://wa.me/?text=https://radiocamoapa.com{{request.path}}" target="_blank" class="wt" >
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li>
                <a href="mailto:?subject={{obj.titulo}}&amp;body=Visitanos en https://radiocamoapa.com{{request.path}}"  class="gp">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block extra_js %}
<script>
    $(".post-content blockquote").addClass("blockquote");
    $(".post-content ul").addClass("blog-details-link");
    $(".post-content ul li").prepend( "<i class='far fa-check'></i>" ); 
</script>
<script>
    
    var tamano2 = $('.enterteinment-area').offset().top;
    //alert(tamano);
    $(document).scroll(function() {
        if($('.si-sticky').offset().top <= tamano2 ){
            $('.si-sticky').addClass('slideleft');
        }else{

            $('.si-sticky').removeClass('slideleft');
        }
    });

    
   
    
</script>
{% endblock extra_js %}